
datasets/Traffic_Crashes_-_Crashes_20240313.csv
datasets/Traffic_Crashes_-_Vehicles.csv
road-accident-dataset-preprocess/car-people-accident.py
datasets/Traffic_Crashes_-_People.csv
datasets/output.csv
